@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>TrackMED allows composition of test systems from medical equipment (components). It also tracks and monitors these components and test systems.</p>
