@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Cedar ITT<br />
    Australia and The Philippines<br />
    <abbr title="Phone">Phones:</abbr>
    AU: +61 435.880.867<br />
    
    PH: +632 739 1945 (Globe Landline)<br />
        +63 905 548 7495 (Globe Mobile)<br />
        +63 921 227 6344 (Smart Mobile)<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:jul_soriano@yahoo.com">jul_soriano@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:jul_soriano@yahoo.com">jul_soriano@yahoo.com</a>
</address>
